
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 1.5rem;
}
h4{
    font-size: .9rem;
    text-transform: uppercase;
    color: #aaa;
    margin-left: 20px;
}
i{
    font-size: 1.5rem;
    color: #fff;
}
p,a{
    font-size: .9rem;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}

/* header starts here */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    padding-right: 40px;
    z-index: 300;
}
.logo-img{
    position: relative;
    height: 20px;
    width: 90px;
    padding-left: 14px;
    padding-right: 16px;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logotxt{
    letter-spacing:  -1.5px;
    color: #fff;
    font-size: 1.5rem;
}
.logo{
    display: flex;
    padding-left: 14;
    padding-right: 16;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 56px;
    width: 90px;
}
#menu{
    padding: 8px;
}
.search-container{
    border-radius: 25px;
     display: flex ;
     align-items: center ;
     flex: 0 1 685px;
     margin-left: 40px;}

.search-container form{
    position: relative;
    width: 100%;
}
.search-container input{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 12px;
    color: #fff;
    font-size: 1rem;
}
.search{
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: #313131;
    outline: none;
    border: none;
}
.mic{
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #181818;
}
.profile-container{
    display: flex;
    align-items: center;
}
.profile-container i{
    margin-left: 25px;
}
.profile-box{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
}

/* body container starts here */
.body-container{
    display: flex;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
}
.bigmama{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1754px;
    min-width: 1225.33px;
    height: 2124px;
    width: 1440px;
    padding-top: 56px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #000000;
}
/* primary starts here */
.primary{
    background-color: #000000;
    display: block;
    height: 2100px;
    width: 966px;
    margin-left: 0px;
    max-width: 1075.56px;
    min-width: 853.333px;
    padding-right: 24px;
    padding-top: 24px;
    font-size: 12px;
    font-size-adjust: 100%;
}
.video{
    color: rgb(238, 238, 238);
    direction: ltr;
    display: block;
    height: 543px;
    width: 966px;
    left: 0px;
    line-height: 15.6px;
    object-fit: cover;
    position: absolute;
    top: 0px;
}
#top-row{
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 966px;
    justify-content: flex-start;
    position: absolute;
    margin-top: 0px;
    top: 638px;
    left: 0px;
    padding-left: 24px;
}
#owner{
    align-items: center;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    display: flex;
    flex-basis: 1e-09px;
    flex-direction: row;
    height: 43px;
    width: 477px;
    margin-top: 12px;
    margin-right: 12px;
    min-width: calc(50% - 6px);
}
.video-owner{
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 43px;
    width: 188.523px;
    min-width: 0px;
}
.yt-img-shadow{
    border-radius: 35px;
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    height: 40px;
    width: 40px;
    position: relative;
    max-height: none;
    max-width: 100%;
    margin-right: 12px;

}
.channel-name{
    align-self: flex-start;
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    height: 22px;
    line-height: 22px;
    max-width: 100%;
    width: 112.523px;
    /*z-index: 300;*/
}
.channel-name-container{
    color: rgb(241, 241, 241);
    display: inline;
    flex-direction: row;
    height: 22px;
    width: 94.5234px;
}
.img-text{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: normal;
    text-decoration-color:rgb(241, 241, 241) ;

}
.img-text2{
    color: #AAAAAA;
    display: -webkit-box;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    margin-right: 4px;
    max-height: 18px;
    text-overflow: ellipsis;
    width: 108.523px;
}
.ytd-icon{
    align-items: center;
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    height: 22px;
    margin-right: 0px;
    width: 18px;
}
.ytd-icon2{
    color: rgb(241, 241, 241);
    display: block;
    height: 14px;
    letter-spacing: 0.35px;
    margin-bottom: 1px;
    margin-left: 4px;
    margin-bottom: 8px;
    width: 14px;
    white-space: normal;
}
.ytd-icon3{
    align-items: center;
    display: inline-flex;
    height: 14px;
    width: 14px;
    justify-content: center;
    margin: 0px;
    position: relative;

}
.sub-button{
    color: rgb(241, 241, 241);
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 36px;
    width: 60px;
}
.sub-button1{
    color: rgb(241, 241, 241);
    display: flex;
    flex-basis: 1e-09px;
    height: 36px;
    white-space: nowrap;
    width: 60px;
}
.sub-button2{
    align-items: center;
    appearance: auto;
    background-color: rgb(241, 241, 241);
    border-bottom-color: rgb(15, 15, 15);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(15, 15, 15);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(15, 15, 15);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(15, 15, 15);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(15, 15, 15);
    cursor: pointer;
    display: flex;
    flex-basis: 1e-09px;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    width: 60px;
    justify-content: center;
    line-height: 36px;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    
}
.sub-button3{
    color: rgb(15, 15, 15);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 500;
    height: 36px;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    text-indent: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 28px;
    writing-mode: horizontal-tb;

}
.sub-button4{
    color: rgb(15, 15, 15);
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 500;
    height: auto;
    line-height: 36px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}
#actions{
    align-items: center;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    display: flex;
    flex-basis: 1e-09px;
    flex-direction: row;
    height: 43px;
    width: 477px;
    margin-top: 12px;
    margin-right: 0px;
    min-width: calc(50% - 6px);
}
.menu-render{
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 12px;
    text-size-adjust: 100%;
    overflow-y: hidden;
    height: 36px;
    max-height: 40px;
    width: 460.664px;
}
.top-level-buttons{
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 36px;
    width: 229.914px;
}
.top-level-buttons1{
    color: rgb(241, 241, 241);
    display: flex;
    font-size: 12px;
    height: 36px;
    text-size-adjust: 100%;
    visibility: hidden;
    width: 137.914px;
}
.top-level-buttons1-1{
    color: rgb(241, 241, 241);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 85.914;
}
.top-level-buttons1-2{
    color: rgb(241, 241, 241);
    display: flex;
    flex-basis: 1e-09px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 85.914;
}
.top-level-buttons1-3{
    align-items: center;
    appearance: auto;
    background-color: rgb(122, 122, 122);
    border-bottom-color: rgb(241, 241, 241);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(241, 241, 241);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(241, 241, 241);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(241, 241, 241);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: flex;
    flex-basis: 1e-09px;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    width: 85.914px;
    justify-content: center;
    line-height: 36px;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
}
.top-level-buttons1-3-icon{
    align-items: center;
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline-flex;
    fill: rgb(241, 241, 241);
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    width: 24px;
    justify-content: center;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-left: 0px;
    margin-right: 0px;
}
.ytd-icon4{
    align-items: center;
    display: inline-flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    margin: 0px;
    position: relative;
}
.top-level-buttons2{
    color: rgb(241, 241, 241);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
    margin-left: 8px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    width: 84px;

}
.top-level-buttons2-1{
    color: rgb(241, 241, 241);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0.5px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 52px;
}
.flexible-items-buttons{
    color: rgb(241, 241, 241);
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 36px;
    width: 94px;
}

.last-button{
    color: rgb(241, 241, 241);
    display: flex;
    flex-basis: auto;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 36px;
    width: 36px;
    margin-left: 8px;
}
.bottom-row{
    color: rgb(241, 241, 241);
    display: flex;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 116px;
    width: 978px;
    margin-right: -12px;
    position: absolute;
    top: 694px;
    left: 24px;
    
}
.description-items{
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    background-color: #ffffff1a;
    cursor: pointer;
    display: block;
    flex-basis: 1e-09px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 104px;
    width: 966px;
    min-width: max(381,50%-12px);
    position: relative;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.info-container{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-size-adjust: 100%;
    height: 20px;
    width: 942px;
}
.description-inner{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 80px;
    line-height: 20px;
    text-size-adjust: 100%;
    width: 884px;
    margin: 12px;
}

.info{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    width: 884px;
    white-space: pre;
}
.info1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 20px;
    width: auto;
    white-space: pre;

}
.info2{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 20px;
    width: auto;
    white-space: pre;

}
.info3{
    color: rgb(62, 166, 255);
    font-size: 14px;
    font-weight: 400;
}
.snippet{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-size-adjust: 100%;
    white-space: pre-wrap;
    height: 60px;
    width: 942px;
}
.comment-section{
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 3390px;
    width: 933.328px;
}
.comment-header{
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 88px;
    width: 933.328px;
}
.comment-header-render{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 88px;
    width: 933.328px;
    margin-bottom: 32px;
    margin-top: 24px;
}
.comment-content{
    display: flex;
    height: 20px;
    width: 852px;
}
.comment-content2{
    color: rgb(241, 241, 241);
    display: inline;
    font-size: 14px;
    font-weight: 400;

}
.comment-icon{
    color: rgb(170, 170, 170);
    display: block;
    height: 32px;
    margin-top: 4px;
    min-height: 16px;
    width: 852px;
}
.toolbar{
    align-items: center;
    color: rgb(170, 170, 170);
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 852px;
}
.toolbar-like-btn{
    color: rgb(170, 170, 170);
    display: block;
    height: 32px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-left: -8px;
    text-transform: uppercase;
    width: 32px;
}
.ytd-icon6{
    align-items: center;
    display: inline-flex;
    height: 18px;
    width: 18px;
    justify-content: center;
    margin-left: 8px;
    margin-right: 6px;
    position: relative;
}
.toolbar-toggle-btn{
    color: rgb(170, 170, 170);
    display: block;
    height: 32px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-left: 12px;
    text-transform: uppercase;
    width: 32px;
}
.ytd-icon7{
    align-items: center;
    display: inline-flex;
    height: 18px;
    width: 18px;
    justify-content: center;
    margin-left: 8px;
    margin-right: 6px;
    position: relative;
}
.toolbar-reply-btn{
    color: rgb(170, 170, 170);
    display: block;
    height: 32px;
    width: 57px;
}
.toolbar-reply-btn1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 32px;
    justify-content: center;
    margin-left: 18px;
    margin-bottom: 10px;
}
.comment-title{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 24px;
    width: 933.328px;
    margin-bottom: 24px;
}
comment-title-1{
    align-items: center;
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 22px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 32px;
    margin-inline-start: 0px;
    width: 91.03px;
}
.ytd-icon5{
    align-items: center;
    display: inline-flex;
    height: 16px;
    width: 16px;
    justify-content: center;
    margin-left: 26px;
    margin-right: 6px;
    position: relative;
}
.simple-box-input{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 40px;
    width: 933.328px;
}
.simple-box-input-render{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 40px;
    width: 917.328px;
    margin-right: 16px;
}
.auther-thumbnail{
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 40px;
    width: 40px;
    margin-right: 16px;
}
.auther-thumbnail-img{
    border-radius: 35px;
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: none;
    max-width: 100%;
    position: relative;
} 
.placeholder-area{
    cursor: text;
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 25px;
    width: 836.33px;
    padding-bottom: 4px;
    border-bottom:1px solid rgb(148, 148, 148);
}
.placeholder-area1{
    color: rgb(170, 170, 170);
    cursor: text;
    display: inline;
    flex-basis: 1e-09px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 200px;
}
.attchement{
    margin-left: 56px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    font-size: 12px;
    width: 861.33px;
    text-size-adjust: 100%;
}
.comments{
    display: block;
    font-size: 12px;
    text-size-adjust: 100%;
    height: 3310px;
    width: 863px;
}
.comment-body{
    display: block;
    height: 114px;
    margin-bottom: 16px;
    margin-top: 96px;
    width: 908px;
}
.comment-body1{
    display: block;
    height: 114px;
    margin-bottom: 16px;
    margin-top: 0px;
    width: 908px;
}
.comment-body-inner{
    display: flex;
    flex-direction: row;
    height: 78px;
    position: relative;
    width: 908px;
}
.comment-main{
    display: flex;
    flex-basis: 1e-09px;
    flex-direction: column;
    height: 78px;
    width: 852px;
}
.comment-header{
    display: block;
    height: 20px;
    margin-bottom: 2px;
    width: 852px;
}
.comment-header1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline;
    font-size: 13px;
    font-weight: 500;
}
。comment-header2{
    color: rgb(199, 199, 199);
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: 300;
}
.comment-auther-img{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-right: 16px;
    opacity: 1;
    width: 40px;
}
.comment-auther-img1{
    border-radius: 35px;
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: none;
    max-width: 100%;
    width: 40px;
}
/* secondary starts here */
.secondary{
    background-color: #000000;
    display: block;
    height: 2100px;
    width: 402px;
    min-width: 300px;
    padding-right: 24px;
    padding-top: 24px;
    position: relative;
    font-size: 12px;
    font-size-adjust: 100%;
}
.secondary-inner{
    display: block;
    height: 2100px;
    width: 402px;
    font-size: 12px;
    font-size-adjust: 100%;
}
.secondary-innerlist{
    display: flex;
    flex-direction: column;
    height: 2100px;
    width: 402px;
    font-size: 12px;
    text-size-adjust: 100%;
}
.video-render{
    display: flex;
    flex-direction: row;
    height: 94px;
    width: 402px;
    position: relative;
    margin-bottom: 8px;
    font-size: 12px;
    text-size-adjust: 100%;
}
.style-scope{
    font-size: 20px;
    color: #f1f1f1;
    width: 966;
    height: 28;
    position: absolute;
    top: 599px;
    margin-top: 12px;
    left: 0px;
    padding-left: 24px;
}
.ytb-thumnail{
    display: block;
    height: 94px;
    margin-right: 8px;
    position: relative;
    width: 168px;
}
.ytb-thumnail1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline;
    height: auto;
    width: auto;
}
.ytb-thumnail-img{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: inline-block;
    height: 94px;
    min-height: 1px;
    min-width: 1px;
    object-fit: cover;
    visibility: visible;
    width: 168px;

}
.thumnail-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 80px;
    padding-right: 24px;
    width: 226px;
}
.thumnail-text1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    min-width: 0px;
    width: 202px;
}
.major-text{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    width: 202px;
}
.major-text-1{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    max-height: 40px;
    text-overflow: ellipsis;
    white-space: normal;
    width: 202px;
    margin-bottom: 4px;
}
.second-text{
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 36px;
    width: 202px;
}
.second-text-1{
    align-items: center;
    color: rgb(241, 241, 241);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    max-height: 18px;
    width: 202px;
}
.second-text-2{
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: block;
    height: 18px;
    width: 69.92;
}
.second-text-3{
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 69.92;
    word-break: break-word;
}
.second-text-icon{
    align-items: center;
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 15px;
    line-height: 18px;
    margin-right: 8px;
    width: 18px;
}
.second-text-icon2{
    align-items: center;
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: inline-flex;
    height: 14px;
    justify-content: center;
    position: relative;
    width: 14px;
}
.second-text-icon3{
    cursor: pointer;
    display: block;
    height: 14px;
    width: 14px;
    margin-left: 4px;
}
.third-text{
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: -webkit-box;
    flex-wrap: wrap;
    height: 18px;
    line-height: 18px;
    max-height: 18px;
    text-overflow: ellipsis;
    width: 202px;
}
.third-text-1{
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    line-height: 18px;
    width: auto;
}
.third-text-2{
    color: rgb(170, 170, 170);
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    line-height: 18px;
    width: auto;
}
